<.header>
  New Box
  <:subtitle>Use this form to manage box records in your database.</:subtitle>
</.header>

<.box_form changeset={@changeset} action={~p"/boxes"} />

<.back navigate={~p"/boxes"}>Back to boxes</.back>
